





/* liquid-glass.css */
.liquidGlass-wrapper {
  position: relative;
  display: flex;
  overflow: hidden;
  /* box-shadow: 0 6px 6px rgba(0, 0, 0, 0.25), 0 0 20px rgba(0, 0, 0, 0.15); */
   box-shadow: 0 6px 6px rgba(0, 0, 0, 0.2), 0 0 20px rgba(0, 0, 0, 0.1);
  transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 2.2);
}

.liquidGlass-effect {
  position: absolute;
  z-index: 0;
  inset: 0;
  backdrop-filter: blur(3px);
  /* backdrop-filter: url(#filter) brightness(1.1) saturate(1.5); */
  filter: url(#glass-distortion);
  overflow: hidden;
}


.liquidGlass-tint {
  z-index: 1;
  position: absolute;
  inset: 0;
  /* background: rgba(255, 255, 255, 0.50); */
  background: rgba(43, 42, 42, 0.5);
}

.liquidGlass-shine {
  position: absolute;
  inset: 0;
  z-index: 2;
  overflow: hidden;
  box-shadow: inset 2px 2px 1px 0 rgba(112, 110, 110, 0.5),
              inset -1px -1px 1px 1px rgba(122, 117, 117, 0.5);
}


.liquidGlass-content {
  z-index: 3;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.6rem;
  gap: 8px;
}

.dock {
  display: flex;
  align-items: center;
  justify-content: center;
  /* gap: 20px; */
  /* border-radius: 1.5rem; */
  /* padding: 0.6rem; */
}


/* .dock img {
  width: 64px;
  height: 64px;
  transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 2.2);
  cursor: pointer;
} */



.dock img:hover {
  transform: scale(0.95);
}

/* Keyboard hide support */
.keyboard-hidden {
  opacity: 0;
  transform: translateY(-80px);
  pointer-events: none;
}

.link-bg{
   background: rgba(81, 79, 79, 0.5);
}